@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Rubik+Moonrocks&display=swap');

h1 {
    font-family: 'Press Start 2P';
}

.white {
    color: white;
}

#finished {
    font-family: 'Press Start 2P';
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #ff0000;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    position:relative;
    top: 500px
}

body {
    background-image: url(https://www.seekpng.com/png/detail/340-3401972_pepperoni-pizza-slice-cheese-pizza-slice-png.png);
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: center;
    background-attachment: fixed;
}

p {
    font-family: 'Press Start 2P';
}

.bold {
    font-family: 'Press Start 2P';
    font-weight: bold;
    font-size: 15px;
} 
  
label {
    font-family: 'Press Start 2P';
}

.hidden {
    display: none;
}

#orderSummary {
    font-family: 'Press Start 2P';
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #b33d3d;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 20px;
    position:relative;

}

.small {
    font-size: 3px;
}